$color-challenge-background:#8b4907;
$color-tab-header:#9D5711;
$color-tab-background:#af651b;
$color-tab-content-background:#ad7944;
$color-challenge-font:#AA8556;
$color-sub-challenge-font: #000000;
$color-dialog-btn:#deb887;
$color-gray:#999999;
$color-gray-dark:#555555;
$color-dialog-background:#DFDFDF;
$color-dialog-title:#8c5015;
$color-footer-background: #AD7751;
$primary-color: ( 50: #f9f0e6, 100: #f0d9c1, 200: #e6bf97, 300: #dba56d, 400: #d4924e, 500: #cc7f2f, 600: #c7772a, 700: #c06c23, 800: #b9621d, 900: #ad4f12, A100: #ffeade, A200: #ffc9ab, A400: #ffa878, A700: #ff975e, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
